.layout .card-container {
  padding: 56px 36px 36px;
  box-sizing: border-box;
}
.card-container .title {
  border-bottom: 1px solid #e6e6e6;
}
.card-container .main-title,
.card-container .sub-title {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title .main-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 36px;
}
.title .sub-title {
  font-size: 14px;
  color: #bcbcbc;
  margin-bottom: 16px;
}
.sub-title span {
  margin: 0 12px;
}
.card-container .content {
  padding: 28px 36px;
}
.card-container .content > *:not(:first-child) {
  margin-top: 28px;
}

