.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.layout .container {
  flex: 1;
  background: rgba(0, 0, 0, 0);
}
.container .top-search-container {
  background: #fff;
}
.layout .breadcrumb {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.breadcrumb .breadcrumb-content {
  display: flex;
  cursor: pointer;
}
.breadcrumb .breadcrumb-content > li:nth-child(even) {
  margin: 0 3px;
}
.layout .card-container {
  background: #fff;
  box-sizing: border-box;
}
.layout .lzw-bot-wrap {
  width: 100%;
}