.contaier {
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
}
.header .head-banner {
  width: 1080px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.header .head-banner .website {
  display: inline-flex;
}
.header .head-banner .website li {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
.header .head-banner .website li:not(:first-child) {
  margin-left: 14px;
}
.header .head-banner .website li:not(:first-child)::before {
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-8px, calc(-50% + 1px));
  background: #1d1d1f;
}
.header .head-banner .search {
  width: 200px;
  height: 30px;
  position: relative;
}
.header .head-banner .search .layui-input {
  height: inherit;
}
.header .head-banner .search .search__icon {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.header .website-title {
  width: 1080px;
  height: 83px;
  margin: 29px 0 27px;
  background: url('../imgs/title.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .nav-banner {
  width: 100%;
  height: 50px;
}
.header .nav-banner .layui-nav {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 0;
  background: #064ec0;
  color: #fff;
}
.header .nav-banner .layui-nav .layui-nav-item {
  line-height: 50px;
}
.header .nav-banner .layui-nav .layui-nav-item a {
  padding: 0 30px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
}
.main {
  width: 1080px;
  flex: 1;
  margin: 29px auto;
}
.main .main-title,
.main .main-title--line {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #064ec0;
  display: inline-flex;
  align-items: center;
}
.main .main-title::before,
.main .main-title--line::before {
  content: '';
  width: 7px;
  height: 25px;
  display: inline-block;
  background: #064ec0;
  margin-right: 15px;
}
.main .main-title--line::after {
  content: '';
  flex: 1;
  height: 4px;
  background: #eceeef;
  display: inline-block;
  margin-left: 22px;
}

.main .news-box {
  width: 100%;
  display: inline-flex;
  margin-bottom: 38px;
}
.main .news-box .news-rotaion {
  width: 606px;
  height: 332px;
}
.main .news-box .news-rotaion img {
  display: block;
  height: 332px;
  width: 606px;
}
.main .news-box .news-body {
  width: calc(100% - 634px);
  margin: 18px 0 0 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 14px;
}
.main .news-box .news-body .news-title {
  font-size: 22px;
  color: #d6181f;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.main .news-box .news-body .new-content li {
  padding: 13px 0 12px;
  border-bottom: 1px solid #edebeb;
  align-items: center;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding-left: 15px;
}
.main .news-box .news-body .new-content li::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #949ca4;
}

.main .lnews-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.main .lnews-box .left-aside .lnews-content {
  padding-right: 64px;
  width: 568px;
  box-sizing: border-box;
}
.main .lnews-box .left-aside .lnews-content:not(:first-child) {
  margin-top: 24px;
}
.main .lnews-box .left-aside .lnews-content .lnews-content__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.main .lnews-box .left-aside .lnews-content .lnews-content__body li {
  font-size: 18px;
}
.main .lnews-box .left-aside .lnews-content .lnews-content__body li:not(:first-child) {
  margin-top: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .lnews-box .left-aside .btn-box .report-btn {
  width: 497px;
  height: 72px;
  line-height: 72px;
  background-color: #f8f7e9;
  border: 1px solid #ede3bf;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ec841f;
  text-align: center;
  margin: 22px 0 32px;
}
.main .lnews-box .left-aside .report-card {
  display: flex;
  width: 497px;
}
.main .lnews-box .left-aside .report-card li:not(:first-child) {
  margin-left: 15px;
}
.main .lnews-box .left-aside .report-card li {
  width: calc(100% / 3);
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .lnews-box .left-aside .report-card li .report-card__title {
  font-size: 24px;
  font-weight: 700;
  color: #064ec0;
  margin: 9px 0 18px;
}
.main .lnews-box .left-aside .report-card li .report-card__img {
  display: block;
  width: 143px;
  height: 115px;
}
.main .lnews-box .left-aside .report-card li .report-card__content {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  box-sizing: border-box;
  margin: 13px 0 6px;
  padding: 0 6px;
  font-size: 16px;
}

.main .lnews-box .right-aside {
  width: 529px;
}
.main .lnews-box .right-aside li:not(:first-child) {
  margin-top: 26px;
}
.main .lnews-box .right-aside li.single-news:first-child{
  margin-bottom: 32px;
}
.main .lnews-box .right-aside li.single-news img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .lnews-box .right-aside li.double-news {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .lnews-box .right-aside li.double-news img {
  display: block;
  width: 249px;
  height: 119px;
  object-fit: cover;
}

.main .work-dynamic .layui-tab {
  margin: 0;
}
.main .work-dynamic .layui-tab .layui-tab-title {
  height: 45px;
  line-height: 45px;
  border: none;
  padding: 0;
  margin: 42px 0 4px;
}
.main .work-dynamic .layui-tab .layui-tab-title li {
  width: 110px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
}
.main .work-dynamic .layui-tab .layui-tab-title li:not(:first-child) {
  margin-left: 28px;
}
.main .work-dynamic .layui-tab .layui-tab-title li.layui-this {
  color: #fff;
  background: #064ec0;
  border-color: rgba(0, 0, 0, 0);
}
.main .work-dynamic .layui-tab .layui-tab-title li.layui-this::after {
  display: none;
}
.main .work-dynamic .layui-tab .layui-tab-content {
  padding: 24px 0 0;
  margin-bottom: 27px;
}
.main .work-dynamic .layui-tab .layui-tab-content .word-body {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .work-dynamic .layui-tab .layui-tab-content .word-body .word-body__item {
  width: calc(50% - 14.5px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .work-dynamic .layui-tab .layui-tab-content .word-body .word-body__item:nth-child(n + 3) {
  margin-top: 24px;
}

.main .reading-master {
  margin-bottom: 32px;
}
.main .reading-master .reading-body {
  margin: 22px 0 0;
  display: flex;
  justify-content: space-between;
}
.main .reading-master .reading-body .reading-body-descrip {
  font-size: 18px;
}
.main .reading-master .reading-body .reading-body-descrip .reading-body-title {
  width: 15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .reading-master .reading-body .reading-body-descrip .reading-body-title:not(:first-child) {
  margin-top: 26px;
}
.main .reading-master .reading-body .reading-body-book {
  display: flex;
  margin-top: 9px;
}
.main .reading-master .reading-body .reading-body-book .reading-body-img {
  width: 160px;
  height: 176px;
  overflow: hidden;
}
.main .reading-master .reading-body .reading-body-book .reading-body-img:not(:first-child) {
  margin-left: 42px;
}
.main .reading-master .reading-body .reading-body-book .reading-body-img img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.main .qjsh-box .layui-tab {
  margin: 0;
}
.main .qjsh-box .layui-tab .layui-tab-title {
  line-height: 46px;
  height: 46px;
  border: none;
  margin-top: 28px;
}
.main .qjsh-box .layui-tab .layui-tab-title li {
  line-height: 46px;
  height: 46px;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  padding: 0;
}
.main .qjsh-box .layui-tab .layui-tab-title li.layui-this {
  color: #333;
}
.main .qjsh-box .layui-tab .layui-tab-title li.layui-this:after {
  height: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #064ec0;
}
.main .qjsh-box .layui-tab .layui-tab-title li:not(:first-child) {
  margin-left: 122px;
}
.main .qjsh-box .layui-tab .layui-tab-content {
  padding: 32px 0 32px;
}
.main .qjsh-box .layui-tab .layui-tab-content .qjsh-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
}
.main .qjsh-box .layui-tab .layui-tab-content .qjsh-content li {
  width: calc(50% - 60px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .qjsh-box .layui-tab .layui-tab-content .qjsh-content li:nth-child(n + 3) {
  margin-top: 24px;
}

.main .khn-box {
  margin-bottom: 32px;
}
.main .khn-box .khn-content {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.main .khn-box .khn-content .khn-camera .khn-camera-title {
  margin-bottom: 26px;
}
.main .khn-box .khn-content .khn-camera .khn-camera-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.main .khn-box .khn-content .khn-camera .khn-camera-photo {
  width: 300px;
  margin: 0;
}
.main .khn-box .khn-content .khn-camera .khn-camera-photo img {
  width: 100%;
  height: 200px;
  display: block;
  margin-bottom: 12px;
}
.main .khn-box .khn-content .khn-camera .khn-camera-photo p {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .khn-box .khn-content .khn-rotaion-box {
  width: 740px;
  height: 298px;
  background-image: url('../imgs/khn-bj.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 12px 36px;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-rotaion-item {
  width: calc((100% - 36px) / 3);
  text-align: center;
  box-sizing: border-box;
  padding: 6px 0 12px;
  display: flex;
  flex-direction: column;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-rotaion-item h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-swiper {
  width: 100%;
  flex: 1;
  margin-top: 10px;
  background: #fff;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-swiper img {
  width: calc(100% - 12px);
  margin: 6px 0 10px;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-swiper p {
  padding: 0 1.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.main .khn-box .khn-content .khn-rotaion-box .khn-rotaion-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 17px));
  width: calc(100% - 22px);
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-rotaion-btn img {
  cursor: pointer;
  z-index: 100;
}
.main .khn-box .khn-content .khn-rotaion-box .khn-rotaion-btn .next {
  transform: rotate(180deg);
}

.main .rmgw-box {
  width: 100%;
}
.main .rmgw-box .rmgw-content {
  width: 100%;
  margin-top: 32px;
  display: inline-flex;
}
.main .rmgw-box .rmgw-content li {
  height: 69px;
  line-height: 69px;
  flex: 1;
  font-size: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main .rmgw-box .rmgw-content li:nth-child(1) {
  background-image: url('../imgs/rmgw-0.png');
}
.main .rmgw-box .rmgw-content li:nth-child(2) {
  background-image: url('../imgs/rmgw-01.png');
}
.main .rmgw-box .rmgw-content li:nth-child(3) {
  background-image: url('../imgs/rmgw-02.png');
}
.main .rmgw-box .rmgw-content li:nth-child(4) {
  background-image: url('../imgs/rmgw-03.png');
}
.main .rmgw-box .rmgw-content li:not(:first-child) {
  margin-left: 13px;
}

.footer {
  width: 100%;
  height: 472px;
  padding: 8px 0 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #e4f4f8;
}
.footer .nav-banner {
  width: 1080px;
}
.footer .nav-banner .layui-tab {
  width: 1080px;
  margin: 0;
}
.footer .nav-banner .layui-tab .layui-tab-title {
  line-height: 46px;
  height: 46px;
  border: none;
}
.footer .nav-banner .layui-tab .layui-tab-title li {
  line-height: 46px;
  height: 46px;
  font-size: 20px;
  font-weight: 700;
  color: #999;
  padding: 0;
}
.footer .nav-banner .layui-tab .layui-tab-title li.layui-this {
  color: #333;
}
.footer .nav-banner .layui-tab .layui-tab-title li.layui-this:after {
  height: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #b0130f;
}
.footer .nav-banner .layui-tab .layui-tab-title li:not(:first-child) {
  margin-left: 69px;
}
.footer .nav-banner .layui-tab .layui-tab-content {
  padding: 28px 0 34px;
  border-bottom: 1px solid #d9d9d1;
  box-sizing: border-box;
}
.footer .nav-banner .layui-tab .layui-tab-content .layui-tab-item .tab-content-item {
  width: 100%;
  display: flex;
}
.footer .nav-banner .layui-tab .layui-tab-content .layui-tab-item .tab-content-item:not(:first-child) {
  margin-top: 16px;
}
.footer .nav-banner .layui-tab .layui-tab-content .layui-tab-item .tab-content-item li {
  width: 25%;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}
.footer .website-statment {
  width: 1080px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 23px;
}
.footer .website-statment .website-content {
  display: inherit;
  margin: 0;
}
.footer .website-statment .website-content img {
  display: block;
  width: 57px;
  height: 72px;
  margin-right: 23px;
}
.footer .website-statment .website-content ul {
  height: 76px;
  line-height: 23px;
  font-size: 16px;
}
.footer .website-statment .website-content ul li:last-child {
  cursor: pointer;
}
.footer .website-statment .website-qrcode {
  margin: 0;
  text-align: center;
}
.footer .website-statment .website-qrcode img {
  width: 63px;
  height: 63px;
  display: block;
  margin-bottom: 6px;
}
.aside-banner {
  position: fixed;
  top: 252px;
  right: 20px;
}
