.list-top{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    min-height: 316px;
}

.jfbg-model-class{
    border-bottom: 1px solid #1e41b9;
    height: 48px;
}

.list-top-title{
    background-color: #064EC0;
    font-size: 22px;
    line-height: 48px;
    float: left;
    color: #fff;
    text-align: center;
    height: 48px;
    vertical-align: middle;
    padding: 0 12px ;
    letter-spacing: 2px;
    font-weight: 400;
}
 .list-more{
    font-size: 16px;
    color: #1e41b9;;
    float: right;
    vertical-align: bottom;
    line-height: 48px;
    height: 18px;
    margin-right: 24px;

}