.detail-container {
	padding: 0px 40px;
}
.detail-container>.title {
	font-size: 30px;
	text-align: center;
	padding: 40px 0px;
}
.msg-box {
	padding: 16px 0px;
	background: #E8E8E8;
	text-align: center;
}
.msg-box span {
	margin-right: 36px;
}
.detail-content {
	padding: 40px 50px;
}
.detail-content p {
	line-height: 36px;
	font-size: 18px;
	text-indent: 2em;
}